{% for row in rows %}
{%
set row_classes = [
default_row_class ? 'views-row',
'alert-info',
'row'
]
%}
<div{{ row.attributes.addClass(row_classes) }}>

<div class="row">
    <div class="col-md-1"><span class="label label-primary">ALERT</span></div>
    <div class="col-md-6">{{ row.content }}</div>
    <div class="col-md-4">{{ drupal_block('alertblockheader', FALSE) }}</div>
</div>
</div>
{% endfor %}
