{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}
{% set date = node.createdtime|format_date('help') %}

<article{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
  <div class="row">

    <div class="col-md-2">
      <div class="date-grey">{{ date }}</div>
    </div>
    <div class="col-md-10">
      <p>{{label}}</p>
    </div>
  </div>
</article>
