<div class="container-fluid">
  <div class="container">
    <h2 class="text-center">What do you need to know?</h2>
    <form id="knowledge-base-search">
      <div class="form-group">
        <div class="col-12">
          <input type="search" id="search-query" class="form-control" name="search" placeholder="Search Articles" />
        </div>
      </div>
        <button type="submit" class="btn btn-primary" id="search-submit">Search</button>
      </form>
  </div>
  <div class="container">
    <ul class="list-unstyled">
      {% for article in articles %}
        <li class="col-xs-6 col-md-4 text-center form-group"><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>